{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col text-center my-auto">
            <h1 class="display-4 logo-font text-black">
                British and International Search and Rescue Dogs
            </h1>
            <h2>Saving lives, one woof at a time!</h2>
            <div class="my-5">
                <h3>
                    <a href="{% url 'products' %}"
                        class="donate-now-button btn btn-lg rounded-0 text-uppercase py-3">Donate to our
                        Cause</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}