{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    {% if post %}
    <h1>Edit News Post</h1>
    {% else %}
    <h1>Add News Post</h1>
    {% endif %}
    <form action="{% if post %}{% url 'edit_news_post' post.slug %}{% else %}{% url 'add_news_post' %}{% endif %}"
        method="post" enctype="multipart/form-data" class="mt-2">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'image' %}
        {{field}}
        {% elif field.name == 'content' %}
        <p class="mt-2"><strong>Keyboard Shortcuts: </strong> Insert headings with 'ctrl' + '5'. Numbers 1 - 6
            available. 5 is recommended.</p>
        {{field | as_crispy_field}}
        {% else %}
        {{ field | as_crispy_field}}
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-info mt-2">{% if post %}Save Changes{% else %}Add News
            Post{% endif %}</button>
    </form>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    let selector = document.getElementById('new-image');
    selector.addEventListener('change', (event) => {
        let file = selector.files[0];
        let filename = document.getElementById('filename');
        filename.textContent = `News post image will be set to: ${file.name}`;
    });
</script>

{% endblock %}