<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'team' %}" id="team-link">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'blog' %}" id="news-link">
                News
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a class="nav-item dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    By Category
                </a>
                <div class="dropdown-menu border-1" aria-labelledby="categories-link">
                    <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                    <a href="{% url 'products' %}?category=accessories" class="dropdown-item ">Accessories</a>
                    <a href="{% url 'products' %}?category=homeandliving" class="dropdown-item ">Home & Living</a>
                </div>
            </div>
        </li>
    </ul>
</div>