{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<section class="header">
    <div class="row mt-1 mt-md-5">
        <div class="col text-center">
            <h1 class="logo-font">About B.I.R.D</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'add_team_member' %}" class="btn btn-info my-3">Add Team Member</a>
            {% endif %}
            <hr class="w-50 mb-1">
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row">
        <div class="col-12 col-sm-4 text-center">
            <img src="{{ MEDIA_URL }}bird_logo_dark.png" class="nav-logo" alt="bird dog logo">
        </div>
        <div class="col-12 col-sm-8">
            <p>
                BIRD consists of highly trained volunteers that form a totally self supporting team used to assist
                in
                disasters at both home and abroad. We have deployed to many disasters worldwide and we also assist
                the
                Police, HM Coastguard and Fire Service at home. We have no government funding and exist solely on
                donations and fund raising.</p>
        </div>
    </div>
</section>
<section class="container py-5">
    <h2 class="mb-4">Our Team</h2>

    <div class="row team-member-container align-items-center">
        {% if members %}
        {% for member in members %}
        <div class="team-card-member-container col-12 col-sm-6 col-xl-4 mt-2">
            <div class="row d-flex justify-content-center">
                {% if member.image %}
                <img src="{{ member.image.url }}" alt="{{ member.name }}" class="team-card-image col-6">
                {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="team-card-image col-6">
                {% endif %}
                <div class="team-card-biography-container col-12">
                    <div class="row d-flex justify-content-center">
                        <h3>{{ member.name }}</h3>
                    </div>
                    <div class="row d-flex justify-content-center mx-2">
                        <p>{{ member.biography }}</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% if request.user.is_superuser %}
                <a href="{% url 'edit_team_member' member.slug %}" class="btn btn-info mx-2">Edit Member</a>
                <button type="button" class="btn btn-secondary mx-2" data-toggle="modal"
                    data-target="#delete-team-member-{{member.slug}}-modal">
                    Delete Member
                </button>
                <!-- Modal -->
                <div class="modal fade" id="delete-team-member-{{member.slug}}-modal" tabindex="-1"
                    aria-labelledby="delete-member-modal-heading" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delete-member-modal-heading">Delete Team Member
                                </h5>
                                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"><i
                                        class="fa fa-close"></i></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete the team member called:</p>
                                <p>"<strong>{{ member.name }}</strong>"</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'delete_team_member' member.id %}">Delete
                                    Team
                                    Member</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>There are no team members for you to view right now.</p>
        {% endif %}
    </div>
</section>
{% endblock %}